<div class="ph1-ns w-50-ns flex">
        <a href="{{ .Permalink }}" class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100">
            <h2 class="f3 b lh-title mb1 primary">{{ .Title }}</h2>
            <p class="mb0">{{ dateFormat "Monday, Jan 2, 2006" .Params.event_datetime }}</p>
            <p class="mb0">{{ dateFormat "3:04 PM" .Params.event_datetime}}</p>
            <p>{{ .Params.event_location }}</p>
            <p class="link b dib black mb0">Read more →</p>
        </a>
    </div>