<div class="bg-off-white pv4">
    <div class="ph3 mw7 center">

        <h2 class="f2 b lh-title mb3">Upcoming events</h2>

        <div class="w-100 flex-ns mhn1-ns flex-wrap mb3">
            {{ range sort (where .Data.Pages "Section" "event") ".Params.event_datetime" }}
                {{ if gt (time .Params.event_datetime) now }}
                    {{ partial "event_preview" . }}
                {{ end }}
            {{ end }}
        </div>

        <div class="tc">
            <a href="/event" class="btn raise">See All Events</a>
        </div>

    </div>
</div>
    