<div class="bg-grey-1 pv4">
	<div class="ph3 mw7 center">

		<div class="flex-l mhn2-l">
			<div class="w-40-l ph2-l">
				<h2 class="f2 b lh-title mb2">Working Groups</h2>

				<p>These are our working groups</p>
				<!-- TODO: Wrap this into two columns -->

				<ul>
					{{ range (where .Data.Pages "Type" "working_group") }}
						{{ .Render "li" }}
					{{end}}
				</ul>
			</div>
		</div>

		<div class="tc">
			<a href="/working_groups" class="btn raise">Read more about our working groups</a>
		</div>

	</div>
</div>
